.update_buttons {
    background-color: #ffeab6;
    color: black;
    font-weight: bold;
}

h2 {
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

input, textarea {
    font-family: Trebuchet MS;
}

form div {
    text-align: left;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.upcomingRemBox {
    height: 656px;
    overflow: auto;
}

td {
    padding: 10px;
    vertical-align: top;
}

th:first-child, td:first-child {
    border-radius: 10px 0 0 10px;
}

th:last-child, td:last-child {
    border-radius: 0 10px 10px 0;
}

thead tr, thead th {
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

tr {
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 15px;
}

tbody tr:hover {
    color: white;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
